/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

img,
embed,
iframe,
object,
audio,
video {
  max-width: 100%;
  height: auto; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

.pb-btn {
  display: inline-block;
  position: relative;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 10px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 12px;
  user-select: none; }
  .pb-btn.pb-btn-default {
    border-color: #dae1e7;
    background-color: #fff;
    color: #3d4852; }
    .pb-btn.pb-btn-default:active {
      background-color: #b8c2cc; }
  .pb-btn.pb-btn-primary {
    background-color: #3490dc;
    color: #fff; }
    .pb-btn.pb-btn-primary:active {
      background-color: #12283a; }
  .pb-btn.pb-btn-success {
    background-color: #38c172;
    color: #fff; }
    .pb-btn.pb-btn-success:active {
      background-color: #0f2f21; }
  .pb-btn.pb-btn-danger {
    background-color: #e3342f;
    color: #fff; }
    .pb-btn.pb-btn-danger:active {
      background-color: #3b0d0c; }
  .pb-btn.pb-btn-warning {
    background-color: #f6993f;
    color: #fff; }
    .pb-btn.pb-btn-warning:active {
      background-color: #462a16; }
  .pb-btn.pb-btn-#22292f {
    background-color: #22292f;
    color: #fff; }
    .pb-btn.pb-btn-#22292f:active {
      background-color: #22292f-darkest; }
  .pb-btn.pb-btn-#e3342f {
    background-color: #e3342f;
    color: #fff; }
    .pb-btn.pb-btn-#e3342f:active {
      background-color: #e3342f-darkest; }
  .pb-btn.pb-btn-#f6993f {
    background-color: #f6993f;
    color: #fff; }
    .pb-btn.pb-btn-#f6993f:active {
      background-color: #f6993f-darkest; }
  .pb-btn.pb-btn-#ffed4a {
    background-color: #ffed4a;
    color: #fff; }
    .pb-btn.pb-btn-#ffed4a:active {
      background-color: #ffed4a-darkest; }
  .pb-btn.pb-btn-#38c172 {
    background-color: #38c172;
    color: #fff; }
    .pb-btn.pb-btn-#38c172:active {
      background-color: #38c172-darkest; }
  .pb-btn.pb-btn-#4dc0b5 {
    background-color: #4dc0b5;
    color: #fff; }
    .pb-btn.pb-btn-#4dc0b5:active {
      background-color: #4dc0b5-darkest; }
  .pb-btn.pb-btn-#3490dc {
    background-color: #3490dc;
    color: #fff; }
    .pb-btn.pb-btn-#3490dc:active {
      background-color: #3490dc-darkest; }
  .pb-btn.pb-btn-#6574cd {
    background-color: #6574cd;
    color: #fff; }
    .pb-btn.pb-btn-#6574cd:active {
      background-color: #6574cd-darkest; }
  .pb-btn.pb-btn-#9561e2 {
    background-color: #9561e2;
    color: #fff; }
    .pb-btn.pb-btn-#9561e2:active {
      background-color: #9561e2-darkest; }
  .pb-btn.pb-btn-#f66d9b {
    background-color: #f66d9b;
    color: #fff; }
    .pb-btn.pb-btn-#f66d9b:active {
      background-color: #f66d9b-darkest; }
  .pb-btn.pb-btn-block {
    display: block; }
  .pb-btn + .pb-btn {
    margin-top: 10px;
    margin-left: 10px; }

.pb-btn {
  display: inline-block;
  position: relative;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 10px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 12px;
  user-select: none; }
  .pb-btn.pb-btn-default {
    border-color: #dae1e7;
    background-color: #fff;
    color: #3d4852; }
    .pb-btn.pb-btn-default:active {
      background-color: #b8c2cc; }
  .pb-btn.pb-btn-primary {
    background-color: #3490dc;
    color: #fff; }
    .pb-btn.pb-btn-primary:active {
      background-color: #12283a; }
  .pb-btn.pb-btn-success {
    background-color: #38c172;
    color: #fff; }
    .pb-btn.pb-btn-success:active {
      background-color: #0f2f21; }
  .pb-btn.pb-btn-danger {
    background-color: #e3342f;
    color: #fff; }
    .pb-btn.pb-btn-danger:active {
      background-color: #3b0d0c; }
  .pb-btn.pb-btn-warning {
    background-color: #f6993f;
    color: #fff; }
    .pb-btn.pb-btn-warning:active {
      background-color: #462a16; }
  .pb-btn.pb-btn-#22292f {
    background-color: #22292f;
    color: #fff; }
    .pb-btn.pb-btn-#22292f:active {
      background-color: #22292f-darkest; }
  .pb-btn.pb-btn-#e3342f {
    background-color: #e3342f;
    color: #fff; }
    .pb-btn.pb-btn-#e3342f:active {
      background-color: #e3342f-darkest; }
  .pb-btn.pb-btn-#f6993f {
    background-color: #f6993f;
    color: #fff; }
    .pb-btn.pb-btn-#f6993f:active {
      background-color: #f6993f-darkest; }
  .pb-btn.pb-btn-#ffed4a {
    background-color: #ffed4a;
    color: #fff; }
    .pb-btn.pb-btn-#ffed4a:active {
      background-color: #ffed4a-darkest; }
  .pb-btn.pb-btn-#38c172 {
    background-color: #38c172;
    color: #fff; }
    .pb-btn.pb-btn-#38c172:active {
      background-color: #38c172-darkest; }
  .pb-btn.pb-btn-#4dc0b5 {
    background-color: #4dc0b5;
    color: #fff; }
    .pb-btn.pb-btn-#4dc0b5:active {
      background-color: #4dc0b5-darkest; }
  .pb-btn.pb-btn-#3490dc {
    background-color: #3490dc;
    color: #fff; }
    .pb-btn.pb-btn-#3490dc:active {
      background-color: #3490dc-darkest; }
  .pb-btn.pb-btn-#6574cd {
    background-color: #6574cd;
    color: #fff; }
    .pb-btn.pb-btn-#6574cd:active {
      background-color: #6574cd-darkest; }
  .pb-btn.pb-btn-#9561e2 {
    background-color: #9561e2;
    color: #fff; }
    .pb-btn.pb-btn-#9561e2:active {
      background-color: #9561e2-darkest; }
  .pb-btn.pb-btn-#f66d9b {
    background-color: #f66d9b;
    color: #fff; }
    .pb-btn.pb-btn-#f66d9b:active {
      background-color: #f66d9b-darkest; }
  .pb-btn.pb-btn-block {
    display: block; }
  .pb-btn + .pb-btn {
    margin-top: 10px;
    margin-left: 10px; }

